###**Q1**.  Use [Lucidchart](https://sjsu.edu/it/services/applications/lucidchart.php) to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product:
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit it in Canvas.

###**Q2**. Create SQLite tables and load data
1. Here are the csv files for the data for the four tables:
   - product: https://raw.githubusercontent.com/csbfx/cs133/main/product.csv
   - customer: https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv
   - order_item: https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv
   - purchase_order: https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [93]:
# 2.2 Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .
import sqlite3
from pathlib import Path
from google.colab import drive
drive.mount('/content/drive')
gdrive='drive/MyDrive/'

Path(gdrive+'store.db').touch()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [94]:
conn = sqlite3.connect(gdrive+'store.db')
c = conn.cursor()
SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS product (
                  product_id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL,
                  price REAL
             )'''

c.execute(SQL_CreateTable)

SQL_CreateTable2 = '''CREATE TABLE IF NOT EXISTS customer (
                  customer_id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL,
                  email TEXT NOT NULL
             )'''

c.execute(SQL_CreateTable2)
SQL_CreateTable3 = '''CREATE TABLE IF NOT EXISTS purchase_order(
                  order_id INTEGER PRIMARY KEY,
                  customer_id INTEGER,
                  date TEXT NOT NULL,
                  FOREIGN KEY (customer_id)
                  REFERENCES customer (customer_id)
                     ON DELETE CASCADE
                     ON UPDATE NO ACTION
             )'''

c.execute(SQL_CreateTable3)

SQL_CreateTable4 = '''CREATE TABLE IF NOT EXISTS order_item (
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (order_id) REFERENCES purchase_order(order_id)
        ON DELETE CASCADE
        ON UPDATE NO ACTION,
    FOREIGN KEY (product_id) REFERENCES product(product_id)
        ON DELETE CASCADE
        ON UPDATE NO ACTION
)'''

c.execute(SQL_CreateTable4)

conn.commit()

In [95]:
'''
c.execute('DROP TABLE IF EXISTS order_item')
c.execute('DROP TABLE IF EXISTS purchase_order')
c.execute('DROP TABLE IF EXISTS customer')
c.execute('DROP TABLE IF EXISTS product')
conn.commit()
'''

"\nc.execute('DROP TABLE IF EXISTS order_item')\nc.execute('DROP TABLE IF EXISTS purchase_order')\nc.execute('DROP TABLE IF EXISTS customer')\nc.execute('DROP TABLE IF EXISTS product')\nconn.commit()\n"

In [96]:
# 2.3 Load the data in the csv files into the corresponding table.
# Your code here . . .
import pandas as pd
product = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/product.csv')
customer = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv')
order_item = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv')
purchase_order = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv')



print(product)
print(customer)
print(order_item)
print(purchase_order)

for i, row in product.iterrows():
    c.execute('INSERT INTO product (product_id, name, price) VALUES (?, ?, ?)', (row['product_id'], row['name'], row['price']))

for i, row in customer.iterrows():
    c.execute('INSERT INTO customer (customer_id, name, email) VALUES (?, ?, ?)', (row['customer_id'], row['name'], row['email']))

for i, row in purchase_order.iterrows():
    c.execute('INSERT INTO purchase_order (order_id, customer_id, date) VALUES (?, ?, ?)', (row['order_id'], row['customer_id'], row['date']))


# I have to insert manually because it is turning to bits if you could explain why this would be happening I researched and couldn't figure it
data = [
    (0, 0, 1),
    (0, 1, 1),
    (1, 2, 2),
    (1, 3, 1)
]
for row in data:
    c.execute('INSERT INTO order_item (order_id, product_id, quantity) VALUES (?, ?, ?)', row)

conn.commit()

   product_id     name  price
0           0  bicycle    400
1           1   helmet     45
2           2   gloves     23
3           3    chain     48
   customer_id               name            email
0            0          Wendy Lee    wlee@bike.com
1            1        Jason Brown     jb@speed.com
2            2       Harry Potter  hp@hogwarts.edu
3            3  Godric Gryffindor  gg@hogwards.edu
   order_id  product_id  quantity
0         0           0         1
1         0           1         1
2         1           2         2
3         1           3         1
   order_id  customer_id        date
0         0            0  2020-10-19
1         1            0  2020-10-20
2         2            1  2020-10-20

In [97]:
# 2.4 Commit so that the data loaded to the tables to officially written to the tables.
# Your code here . . .
conn.commit()

In [98]:
# 2.5 Execute a query SELECT * from each table to make sure the data are properly loaded.
# Your code here . . .
c.execute("SELECT * FROM purchase_order")
rows = c.fetchall()
for row in rows:
    print(row)

print()
c.execute("SELECT * FROM Product")
rows = c.fetchall()
for row in rows:
    print(row)

print()
c.execute("SELECT * FROM Customer")
rows = c.fetchall()
for row in rows:
    print(row)

print()
c.execute("SELECT * FROM order_item")
rows = c.fetchall()
for row in rows:
    print(row)

(0, 0, '2020-10-19')
(1, 0, '2020-10-20')
(2, 1, '2020-10-20')

(0, 'bicycle', 400.0)
(1, 'helmet', 45.0)
(2, 'gloves', 23.0)
(3, 'chain', 48.0)

(0, 'Wendy Lee', 'wlee@bike.com')
(1, 'Jason Brown', 'jb@speed.com')
(2, 'Harry Potter', 'hp@hogwarts.edu')
(3, 'Godric Gryffindor', 'gg@hogwards.edu')

(0, 0, 1)
(0, 1, 1)
(1, 2, 2)
(1, 3, 1)

In [102]:
# 2.6 Execute a query using SELECT statement that queries with JOIN tables to find the purchase date,
#    the products and quantities that a particular customer has purchased.
# Query 1:
# Query 2: ???
# Your code here . . .
query = '''
    SELECT po.date, p.name AS product_name, oi.quantity
    FROM purchase_order po
    JOIN order_item oi ON po.order_id = oi.order_id
    JOIN product p ON oi.product_id = p.product_id
    WHERE po.customer_id = 0
'''

c.execute(query)

results = c.fetchall()

print("Results for customer_id 0:", results)

Results for customer_id 0: [('2020-10-19', 'bicycle', 1), ('2020-10-19', 'helmet', 1), ('2020-10-20', 'gloves', 2), ('2020-10-20', 'chain', 1)]

In [104]:
# Additional tasks
# Appending a new row to one of the tables
# Deleting row(s) with "XXX"

c.execute('INSERT INTO order_item (order_id, product_id, quantity) VALUES (?, ?, ?)',
              (4, 4, 4))
c.execute("SELECT * FROM order_item")
rows = c.fetchall()
for row in rows:
    print(row)

conn.commit()
print()
c.execute('DELETE FROM order_item WHERE order_id = 4')
conn.commit()

c.execute("SELECT * FROM order_item")
rows = c.fetchall()
for row in rows:
    print(row)

(0, 0, 1)
(0, 1, 1)
(1, 2, 2)
(1, 3, 1)
(4, 4, 4)

(0, 0, 1)
(0, 1, 1)
(1, 2, 2)
(1, 3, 1)